body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

main {
  background-color: #f0f0f0;
  background-color: beige;
  text-align: center;
}

#myCarousel .carousel-item.active{
  height: 100% !important;
}
#myCarousel .carousel-item img{
  object-fit: cover !important;
  height: inherit !important;
}

@font-face {
  font-family: 'Castellar';
  src: url('../fonts/castellar-regular/castellar-regular.ttf');
}

@font-face{
  font-family: "Lucida Unicode Calligraphy"; 
  src:url('../fonts/lucida-unicode-calligraphy/LucidaUnicodeCalligraphy.ttf');
  }

.carousel-caption{
  font-family: 'Castellar', sans-serif;
  font-size: 2.5rem;
  padding: 0;
  text-align-last: center;
  font-size: initial;
}

.carousel-control-next {
  padding-left: 15px !important;
}
.carousel-control-prev {
  padding-right: 15px !important;
}
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

header{
  min-height:80px;
}

.navbar{
min-height:inherit;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#navbar{
  height: inherit;
}
#navbar-logo{
  display: flex; 
  align-items: center;
}
#navbar-logo h2 {
  margin:0;
  margin-left: 5px;
  font-family: 'Lucida Unicode Calligraphy', sans-serif;
} 


@media (min-width: 992px) {
  .navbar-nav {
    width: fit-content; 
  }
  #navbar-last-items {
    display: inline-flex;
    justify-content: space-around;
    width: 32%;
    min-width: fit-content;
  }
  #navbar-last-items a {
    width: 169px;
  }
}

#languageSelector {
  display: flex;
  align-items: center;
  justify-content: center;
}

#languageSelector img{
  aspect-ratio: auto;
  height: 35px;
  padding-left: 5px;
}

@media (max-width: 991px) {
  #languageSelector img{
    padding-top: 5px;
  }
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 99;
}

#booking {
  padding: 50px 0;
}
#booking a{
  width: 200px;
  font-weight: bold;
}
.book-now-btn {
  background-color: #007bff;
  border: none;
  font-size: 1.2rem;
  padding: 12px 30px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.book-now-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.3);
}

.book-now-btn-nav {
  border: 5px solid white !important;
  font-weight: 900 !important;
}

#gallery{
  padding-top: 90px;
  margin-top: -10px;
  margin-bottom: 50px;
  max-width: 90% !important;
}

.carousel-item.active{
  margin-right:0 !important;
}

#carouselExampleIndicators {
  margin: 50 auto;
  margin-top:15px;  
}

#carouselExampleIndicators .carousel-item.active{
  height: 100% !important;
}
#carouselExampleIndicators .carousel-item img{
  object-fit: cover !important;
  height: inherit !important;
}

.carousel-item{
  transition: none !important;
  transition-delay: 5s !important;
}

#myCarousel{
  width: -webkit-fill-available;
  height: calc(100% - 80px);
  margin:0;
}
.carousel-inner{
  height: inherit !important;
  width: 80%;
  aspect-ratio: 16 / 9;
  margin: auto;
}
#myCarousel .carousel-inner {
  height: calc(100vh - 80px) !important;
}

#imageCarouselSection {
  max-width: 100%;
  height: 350px;
}

#mainCarouselInner{
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-inner {
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  justify-items: center;
  flex-direction: row-reverse;
}

.carousel-item img {
  max-height: 100%;
  width: auto;
  object-fit: contain;
  margin: auto;
}

#aboutUs{
  padding-top: 100px;
  margin-top: -20px !important;
  margin-bottom: 50px;
}





.google-map iframe {
  height: 630px;
  width: 100%;
  left: 0;
  top: 0;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.social-icons a {
  color: #6c757d;
  font-size: 1.5rem;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #007bff;
}

#activities {
  padding-top: 80px;
  margin-bottom: 50px;
}
#activities .container > .row {
  margin-bottom: 35px;
}
#activities .container {
  text-align: center;
}

#activities h5 {
  font-weight: bold;
}
#activities .description {
  padding: 0 15px;
}


#info h5 {
  font-weight: bold;
}
#info .container > .row {
  margin-bottom: 35px;
}

p {
  white-space: pre-line;
  text-align: justify;
}

#info{
  padding-top: 90px;
  margin-top:-10px;
}

#services {
  padding-top: 90px;
  margin-top: -10px;
}
#services p{
  text-align: center;
}

#info p, #aboutUs p{
  padding:0 40px;
}

@media (max-width: 992px) { 
  #aboutUs p {
    padding: 0 20px;
  }
}

#services .container > .row {
  margin-bottom: 35px;
}
#services .container {
  text-align: center;
}

#services h5 {
  font-weight: bold;
}
#services .description {
  padding: 0 15px;
  text-align: center;
}


#contacts_content{
  padding-top: 100px;
  margin-top: -90px;
}

#contacts h2 {
  margin-bottom: 30px;
}

#contacts .container-fluid {
  padding-bottom: 35px;
  padding-top: 25px;
  color: white;
}

#contacts .row {
  width: 70%;
  text-align: center;
  text-align-last: center;
  margin: auto;
}

@media (max-width: 1315px) {
  #contacts .row {
      width: 95%;
      text-align: center;
      text-align-last: center;  
      margin: auto;
  }
}


#aboutUs, #booking, #activities, #services, #gallery, #history {
  text-align: center;
  max-width: 85%;
  margin: auto;
}

#history{
  padding-top: 60px;
  margin-bottom: 50px;
}

#contactsMail, #firstWebsite {
    color:white;
    text-decoration: none;
}
#firstWebsite a {
    color: white;
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
}

.nav-link {
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ccc !important;
}

.nav-link.active {
  color: #fff !important;
}

.form-control {
  border-radius: 20px 0 0 20px;
}

.btn-outline-light {
  border-radius: 0 20px 20px 0;
}

#navbarCollapse {
  text-align: center;
}

.service-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-item img{
  width: 60px;
  height: 60px;
  object-fit: cover;
}


.collapsible-text .text {
  font-size: 12px;
  line-height: 17px;
  font-family: arial;
}

.collapsible-text .text.short {        
  overflow: hidden;
}
.collapsible-text .text.full {
  display: none;
}
.read-more {
  cursor: pointer;
  display: inline-block;    
  font-weight: bold;
  padding: 3px;
  background-color: #06c;
  color: white;
  margin: 2px;
}
.ellipsis {
  color: #06c;
  font-weight: bold;
  font-size: 14px;
}


.collapsible-text {
  padding: 3px;
  max-height: 100px;
  overflow: hidden;
  position: relative;
  transition: max-height 0.5s ease-in-out;
}

.compressed::after {
  content: "..."; 
  position: absolute;
  bottom: 0;
  right: 10px;
  right: 0;
  background: beige; 
  z-index: 10;
}

.collapsible-text.expanded {
  max-height: none;
}

.read-more-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
  display: block;
}

.read-more-btn:hover {
  background-color: #0056b3;
}


.pop img{
  height: 250px;
}

.modal-dialog {
  margin: auto !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: -webkit-fill-available;
}

.modal-content {
  width: fit-content !important;
}


.boxes img{    
  height: 380px                   
}

@media (max-width: 500px) {
  .boxes img{    
    height: auto;
    width: 35vw;                
  }

  .imagepreview {
    max-width: 50em !important;
    max-height: 50em !important;
  }
}


.slick-arrow {
  filter: invert(100%);
}

.slick-prev.slick-arrow {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
 }
 
 .slick-next.slick-arrow {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
 }

 .slick-prev:before, .slick-next:before {
  display: none;
}

.slick-track {
  display: flex !important;
}

.slick-track .slick-slide {
  display: flex !important;
  height: auto;
  align-items: center;
  justify-content: center;
  padding:0 3px;
}

.imagepreview {
  max-width: 50vw;
  max-height: 50vh;
  height: -webkit-fill-available;
}


.modal-body {
  padding-top: 2px !important;
}

#modalCloseBtn{
  text-align: right;
  font-size: smaller;
}